*~
.idea
/.DS_Store
/classes
/lib
/target
closure
/core.js
/coreadvanced.js
/coresimple.js
/out
/pom.xml
.repl*
*.swp
*.zip
clojurescript_release_*
closure-release-*
.lein-repl-history
.nrepl-port
.nrepl-repl-history
