{:paths ["src/main/clojure" "src/main/cljs" "resources"]
 :deps
 {com.google.javascript/closure-compiler-unshaded {:mvn/version "v20210302"}
  com.cognitect/transit-clj {:mvn/version "0.8.309"}
  org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/core.specs.alpha {:mvn/version "0.1.24"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  org.clojure/google-closure-library {:mvn/version "0.0-20201211-3e6c510d"}
  org.clojure/spec.alpha {:mvn/version "0.1.143"}
  org.clojure/tools.reader {:mvn/version "1.3.3"}
  org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}
 :aliases
 {:cli.test.run          {:extra-paths ["src/test/cljs_cli"]
                          :main-opts ["-i" "src/test/cljs_cli/cljs_cli/test_runner.clj"
                                      "-e" "(cljs-cli.test-runner/-main)"]}
  :compiler.test         {:extra-paths ["src/test/cljs" "src/test/cljs_build" "src/test/cljs_cp"
                                        "src/test/clojure" "src/test/self"]}
  :compiler.test.run     {:main-opts ["-i" "src/test/clojure/cljs/test_runner.clj"
                                      "-e" "(cljs.test-runner/-main)"]}
  :runtime.test.build    {:extra-paths ["src/test/cljs"]
                          :main-opts ["-m" "cljs.main" "-co" "resources/test.edn" "-c"]}
  :selfhost.test.build   {:extra-paths ["src/test/self"]
                          :main-opts ["-m" "cljs.main" "-co" "resources/self_host_test.edn" "-c"]}
  :selfparity.test.build {:extra-paths ["src/test/self"]
                          :main-opts ["-i" "src/test/self/self_parity/setup.clj"
                                      "-e" "(self-parity.setup/-main)"
                                      "-m" "cljs.main" "-co" "resources/self_parity_test.edn" "-c"]}
  :uberjar               {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.0.193"}}
                          :exec-fn hf.depstar/uberjar
                          :exec-args {:aot true}}}}
