{:paths ["src/main/clojure" "src/main/cljs" "resources"]
 :deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  org.clojure/tools.reader {:mvn/version "1.3.2"}
  org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
  org.clojure/spec.alpha {:mvn/version "0.1.143"}
  org.clojure/core.specs.alpha {:mvn/version "0.1.24"}
  org.clojure/data.json {:mvn/version "0.2.6"}
  com.cognitect/transit-clj {:mvn/version "0.8.309"}
  com.google.javascript/closure-compiler-unshaded {:mvn/version "v20200315"}
  org.clojure/google-closure-library {:mvn/version "0.0-20191016-6ae1f72f"}}
 :aliases
 {:selfhost.test.build {:extra-paths ["src/test/self"]
                        :main-opts ["-m" "cljs.main" "-co" "resources/self_host_test.edn" "-c"]}
  :runtime.test.build {:extra-paths ["src/test/cljs"]
                       :main-opts ["-m" "cljs.main" "-co" "resources/test.edn" "-c"]}
  :compiler.test {:extra-paths ["src/test/cljs" "src/test/cljs_build" "src/test/cljs_cp"
                                "src/test/clojure" "src/test/self"]}
  :compiler.test.run {:main-opts ["-i" "src/test/clojure/cljs/test_runner.clj"
                                  "-e" "(cljs.test-runner/-main)"]}}}
