{:optimizations :none
 :main self-parity.test
 :language-out :es6
 :verbose true
 :output-to "builds/out-self-parity/main.js"
 :output-dir "builds/out-self-parity"
 :cache-analysis-format :edn
 :target :nodejs}
